@page
@{
    ViewData["Title"] = "Home page";
}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="all" />

	<title>Admin Panel</title>

	
	<link rel="Shortcut Icon" type="image/x-icon" href="http://www.activelayouts.com/cms.ico" />
	<link rel="stylesheet" type="text/css" href="./css/style.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<script src="~/js/testScript.js" asp-append-version="true"></script>

	<div role="form" class="formDiv">
		<table class="form-spacing">
			<tr>
				<td class="cell-one">Passing Marks:</td>
				<td class="cell-two">60/100</td>
			</tr>
			<tr>
				<td class="cell-one">* Full Name:</td>
				<td class="cell-two"><input type="text" id="fullName" class="big-field" /></td>
			</tr>
			<tr>
				<td class="cell-one">* Marks:</td>
				<td class="cell-two"><input type="text" id="marksObtained" class="big-field" /></td>
			</tr>
			<tr>
				<td valign="top" class="cell-one">Fee Paid:</td>
				<td class="two-cells">
					<input type="radio" id="fessPaidYes" name="radio" class="none" />Yes
					<input type="radio" id="feePaidNo" name="radio" class="none" />No
				</td>
			</tr>
			<tr>
				<td class="cell-one">&nbsp;</td>
				<td class="cell-two">
					<input class="standardButton" id="submitData" type="submit" value="Submit Data" />
				</td>
			</tr>
		</table>
	</div>

	<div class="main-grid">

		<input class="standardButton" id="deleteDbRowData" type="submit" value="Delete" />

		<table class="gridTable" cellspacing="0" cellpadding="0">
			<tr>
				<td style="width: 20px;" class="heading-cell">&nbsp;</td>
				<td class="heading-cell">Full Name</td>
				<td class="heading-cell">Marks</td>
				<td class="heading-cell">Fee Paid</td>
				<td class="heading-cell">Pass/Fail</td>
				<td class="heading-cell">Edit</td>
			</tr>
			<tr>
				<td class="grid-cell"><input type="checkbox" /></td>
				<td class="grid-cell">Syed Farhan Ali Rizvi</td>
				<td class="grid-cell">60</td>
				<td class="grid-cell">Yes</td>
				<td class="grid-cell"><span class="green">Pass</span></td>
				<td class="grid-cell"><a href="#">Edit</a></td>
			</tr>
			<tr class="alternateRowColor">
				<td class="grid-cell"><input type="checkbox" /></td>
				<td class="grid-cell">Abdul Rahman Asim</td>
				<td class="grid-cell">75</td>
				<td class="grid-cell">No</td>
				<td class="grid-cell"><span class="red">Fail</span></td>
				<td class="grid-cell"><a href="#">Edit</a></td>
			</tr>
			<tr>
				<td class="grid-cell"><input type="checkbox" /></td>
				<td class="grid-cell">Dishwasher</td>
				<td class="grid-cell">59</td>
				<td class="grid-cell">Yes</td>
				<td class="grid-cell"><span class="red">Fail</span></td>
				<td class="grid-cell"><a href="#">Edit</a></td>
			</tr>
			<tr class="alternateRowColor">
				<td class="grid-cell"><input type="checkbox" /></td>
				<td class="grid-cell">Water Dispenser</td>
				<td class="grid-cell">35</td>
				<td class="grid-cell">No</td>
				<td class="grid-cell"><span class="red">Fail</span></td>
				<td class="grid-cell"><a href="#">Edit</a></td>
			</tr>
		</table>

	</div>

</body>

</html>